:root {
  --svg-graph-bg-color: #333;
  --svg-graph-width-px: 400px;
  --svg-graph-height-px: 200px;

  --svg-graph-axis-color: #fff;
  --svg-graph-axis-halfway-color: #888;
  --svg-graph-axis-secondary-color: #444;
  --svg-graph-limit-color: grey;
  --svg-graph-label-color: #00f3ff;

  --svg-graph-data-offset: 0;
  --svg-graph-data-limit-color: red;

  --svg-graph-plot-offset: 0px;
  --svg-graph-plot-scale: 1;
  --svg-graph-plot-color: lime;
  --svg-graph-plot-fill-color: #0F83;
  --svg-graph-plot-width: 1px;

  --svg-graph-border-color: var(--svg-graph-bg-color);
}

svg.svg-graph {
  background: var(--svg-graph-bg-color);
  margin: var(--svg-graph-svg-margin);
  vertical-align: middle;
  transform: translate(0.5px, 0.5px);
  border: 1px solid var(--svg-graph-border-color);
  border-radius: 0.5em;
  margin: 1px;
  width: var(--svg-graph-width-px);
  height: var(--svg-graph-height-px);
}

svg.svg-graph .hidden {
  display: none !important;
}

svg.positive.svg-graph {
  --svg-graph-data-offset: -50%;
}

svg.svg-graph path.data {
  stroke: var(--svg-graph-plot-color);
  stroke-width: var(--svg-graph-plot-width);
  fill: none;
}

svg.svg-graph g.plot-region {
  transform: scale(1, -1)
    translate(
      calc(0px - var(--svg-graph-plot-offset)),
      var(--svg-graph-data-offset)
    )
    scale(1, var(--svg-graph-plot-scale));
}

svg.svg-graph g.plot-region path.data {
  z-index: 10;
  stroke: var(--svg-graph-plot-color);
  stroke-width: var(--svg-graph-plot-width);
  fill: none;
}

svg.svg-graph g.plot-region path.filled.data {
  fill: var(--svg-graph-plot-fill-color);
}

svg.svg-graph line.x-axis {
  stroke: var(--svg-graph-axis-secondary-color);
}

svg.svg-graph line.main.x-axis {
  stroke: var(--svg-graph-axis-color);
}

svg.svg-graph line.y-axis {
  stroke: var(--svg-graph-axis-secondary-color);
}

svg.svg-graph line.main.y-axis {
  stroke: var(--svg-graph-axis-color);
}

svg.svg-graph line.top-line,
svg.svg-graph line.bottom-line {
  stroke: var(--svg-graph-limit-color);
}

svg.svg-graph text.top-marker {
  fill: var(--svg-graph-label-color);
  text-anchor: start;
  transform: translate(
    calc(-1 * var(--svg-graph-width-px) / 2),
    calc(16px - 50%)
  );
}
svg.svg-graph text.bottom-marker {
  fill: var(--svg-graph-label-color);
  text-anchor: start;
  transform: translate(
    calc(-1 * var(--svg-graph-width-px) / 2),
    calc(50% - 6px)
  );
}

svg.svg-graph text.graph-label {
  fill: var(--svg-graph-plot-color);
  text-anchor: end;
  transform: translate(50%, calc(16px - 50%));
  text-shadow: 0 0 0.5px var(--svg-graph-bg-color);
}

svg.svg-graph text.value-marker {
  fill: var(--svg-graph-label-color);
  text-anchor: end;
  transform: translate(50%, calc(50% - 4px));
  text-shadow: 0 0 0.5px var(--svg-graph-bg-color);
}

svg.svg-graph line.limit {
  stroke: var(--svg-graph-data-limit-color);
}
