* {
  font-family: Verdana;
}

#viz {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

formfield {
  display: block;
}

input#title {
  border: none;
  font-size: 1rem;
  color: inherit;
  width: 30em;
}

.viz {
  display: flex;
  flex-direction: row;
}

#maps-selectors {
  margin: 0.5em 0;
}

#map {
  border: 1px solid black;
}

body > canvas,
body > svg {
  border: 1px solid black;
}

.dashboard {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.dashboard .panel {
  width: 30vw;
  border: 1px solid red;
  flex: 0 0 auto;
  margin: 5px;
  overflow-x: scroll;
}
.dashboard .panel svg {
  background: white;
}

.svg-chart {
  width: 100%;
  height: 200px;
  margin: 0.25em;
  border: 1px solid black;
  display: block;
  max-width: 100%;
}
