#questions {
  padding: 0;
  text-indent: 0;
  list-style: none;
}

#questions li:before {
  content: "- ";
}

#questions li {
  /* display: none; */
}

#questions li:has(input.server-up) {
  display: block;
}

#questions li:has(input:checked) + li {
  display: block;
}

#questions li:has(input:checked) + li:has(span) + li {
  display: block;
}
