div.modal {
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0009;
  z-index: 1000;
  justify-content: center;
  align-items: center;

  & div.content {
    background: white;
    border-radius: 0.5em;
    padding: 2em;
    padding-top: 0;
    box-shadow: 3px 3px 14px #000;

    & h3 {
      font-family: sans-serif;
    }

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

label[for="center-on-plane"] {
  cursor: pointer;
}
